body{
    margin: 0;
    padding: 0;
    background: #1D1B26;
}

.home-box{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}

h1{
    color: #c36289;
}


a {
    text-decoration: none;
    outline: none;
    color: white;
    display: inline-block;
    position: relative;
    padding: 15px 30px;
    border: 1px solid;
    border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
    border-image-slice: 1;
    margin: 10px 20px;   
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 2px;
    transition: .8s cubic-bezier(.165,.84,.44,1);
  }

  a:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    z-index: -1;
    color: white;
    background: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
    transition: .8s cubic-bezier(.165,.84,.44,1);
  }
  a:hover {background: rgba(255,255,255,0);}
  a:hover:before {
    bottom: 0%;
    top: auto;
    height: 100%;
  }