div{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

input{
    border: 1px solid #cccccc;  
    border-radius: 3px;  
   -webkit-border-radius: 3px;  
   -moz-border-radius: 3px;  
   -khtml-border-radius: 3px;  
   background: #ffffff !important; 
   outline: none;  
   height: 24px;  
   width: 120px; 
   color: #000000; 
   font-size: 11px;  
   font-family: Tahoma;  
}